---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import type { itemMenu, restaurante } from '../utils/CustomTypes';

import Cart from '../components/Cart.astro';
import { OrderStatus } from '../types/types';

const backendUrl = import.meta.env.BACKEND_URL;

const urlParams = new URLSearchParams(Astro.url.search);
const localId = urlParams.get('id'); // Obtener el ID del restaurante desde la URL
let userId = urlParams.get('userId'); // Retrieve userId from URL parameters

let menuData = [],
	restauranteData = [];

if (localId) {
	const response = await fetch(`${backendUrl}/restaurantes/${localId}/menu`),
	responseRestaurante = await fetch(`${backendUrl}/restaurantes/${localId}`);
	restauranteData = await responseRestaurante.json();
	menuData = await response.json(); // Obtener el menú desde el backend
}

console.log(backendUrl);
---

<Layout title="Menú del Restaurante">
	<main>
		<Cart userId={userId} />

		<h1>{(restauranteData as restaurante).restaurant_name}</h1>
		<ul role="list" class="link-card-grid">
			<Card href=`../local?id=${localId}&userId=${userId}` title="Volver" body="Volver a la página del restaurante" />
			<Card href={`../?userId=${userId}`} title="Ir a la página principal" body="Volver a VerLaCarta" />
		</ul>

		{
			localId ? (
				<>
					{menuData.length > 0 ? (
						<ul>
							{menuData.map((item: itemMenu) => (
								<li>
									<h3>{item.name}</h3>
									<p>{item.description}</p>
									<p>
										<strong>Precio:</strong> ${item.price}
									</p>
								</li>
							))}
						</ul>
					) : (
						<p>No hay elementos en el menú.</p>
					)}
				</>
			) : (
				<p>No se ha proporcionado un ID de restaurante válido.</p>
			)
		}
	</main>
</Layout>

<style>
	ul {
		list-style: none;
		padding: 0;
	}
	li {
		margin-bottom: 1.5em;
		background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
		padding: 1em;
		border-radius: 10px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	}
</style>

<script define:vars={{ OrderStatus }}>
	// Load cart items on page load
	window.addEventListener('load', () => {
		const cartItems = JSON.parse(localStorage.getItem('cartItems') || '[]');
		// window.updateCart(cartItems);
	});
</script>
